$orange: #ff6000;

.out-div {
  width: 45%;
}
.open-icon {
  width: 15px;
  height: 15px;
  display: flex;
  fill: #9d9898;
  align-items: center;
}
.search-icon {
  // position: absolute;
  margin-top: 5px;
  padding-left: 5px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
}

.select-div {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  &.show-border {
    border: 1px solid $orange;
  }
}

.selected-div {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 5px 9px -4px gray;
  border: 1px solid #eeeeee;
  overflow: auto;
  .selected-text {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: underline;
  }
}

.input-div {
  border: none;
  width: 100%;
  color: #9b9b9b;
  font-size: 16px;
  padding: 4px;
  padding-left: 8px;
  margin-bottom: 15px;
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/icons/clear-text.svg");
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }
  &:focus-visible {
    outline: none;
  }
}

.list-div {
  display: flex;
  margin-bottom: 10px;
  word-break: break-all;
  text-align: left;
  &.borderBottom {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 5px;
  }
}

.checkbox-div {
  margin-right: 15px;
  accent-color: $orange;
  zoom: 1.8;
}
.checbox-label {
  display: flex;
  cursor: pointer;
}

.selected-value {
  text-align: left;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oval {
  width: 22px;
  height: 22px;
  margin: 8px 8px 6px 0;
  background-color: $orange;
  color: white;
  font-weight: 400;
  border-radius: 30px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.searched-div {
  display: flex;
}
